<!DOCTYPE html>
<html lang="en">

<head>
  <title>CSS Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css" />
<body>
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="bookstone">
          <a class="navbar-brand" href="#">BOOK STONE </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="search1">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="search3">
              <form class="d-flex">
                <div class="search2">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="search4">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
              </form>
            </div>
          </div>
          <div class="buts">
            <a href="admin/login">Login /</a>
            <a href="admin/register">Register </a>

          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="adc" style="background-color: #aaa;">
    <div class="container">
      <dir class="header1" style="margin:0;padding:0;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #aaa;">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                class="bi bi-house-door" viewBox="0 0 16 16">
                <path
                  d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
              </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse left" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-current="page">
                    Category
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="admin/login">Action</a></li>
                    <li><a class="dropdown-item" href="#">Manga & Graphic Novels</a></li>
                    <li><a class="dropdown-item" href="#">Horror</a></li>
                    <li><a class="dropdown-item" href="#">Hentai</a></li>
                    <li><a class="dropdown-item" href="#">Psychology</a></li>
                    <li><a class="dropdown-item" href="#">Romance</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ranking</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </dir>
    </div>
  </div>
  
    <div class="nominations">
        <div class="container pt-3">
            <div class="de-cu">
                <Span class="mt-4">RECOMMENDED BOOKS > <i class="fa fa-angle-right" aria-hidden="true"></i></Span>
                <div class="manga your-class">
                    <!-- <span class="left"><i class="fa fa-angle-left" aria-hidden="true"></i></span> -->
                    <div class="item-1">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/69/db/a7/66241354830619bdabb22ec630988ab6.jpg" width="222" height="200" alt="">
                    </div>
                    <div class="item-1">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/45/5b/00/eb18b4683425eb6ccc345818c0fef24a.jpg" width="222" height="200" alt="">
                    </div>
                    <div class="item-1">
                        <img src="https://www.bigw.com.au/medias/sys_master/images/images/h91/h63/29361456873502.jpg" width="222" height="200" alt="">
                    </div>
                    <div class="item-1">
                        <img src="https://www.bookonatree.com/images/2020/09/16/book_alicia__400x556__400x556.png" width="222" height="200" alt="">
                    </div>
                    <div class="item-1">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/93/68/2e/39030a96e3137f56dacddff1c6522c25.jpg" width="222" height="200" alt="">
                    </div>
                    <div class="item-1">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71WC3z4Wt0L.jpg" width="222" height="200" alt="">
                    </div>
                    <div class="item-1">
                        <img src="https://m.media-amazon.com/images/S/aplus-media/vc/71b1b1d9-df60-45a0-8997-7878a25f54f4.__CR0,0,150,300_PT0_SX150_V1___.jpg" width="222" height="200" alt="">
                    </div>
                    <div class="item-1">
                        <img src="https://salt.tikicdn.com/ts/product/b2/57/8f/74519d557f0c1e0ce70a810cbf32a5f7.jpg" width="222" height="200" alt="">
                    </div>
                    <!-- <span class="right"><i class="fa fa-angle-right" aria-hidden="true"></i></span> -->
                  
                </div>
                
            </div>
          </div>
          </div>

  <div class="row">
    <Span class="mt-4">BOOKS <i class="fa fa-angle-right" aria-hidden="true"></i></Span>
    <div class="mainc">
                                <div class="img">
                                    <img src="https://bachngocsach.com/reader/sites/default/files/anhbia/by40kaf_0.jpg"
                                        alt="">
                                        <p class="name">Manga</p>
                                </div>
                                <div class="img">
                                    <img src="https://bachngocsach.com/reader/sites/default/files/anhbia/by40kaf_0.jpg"
                                        alt="">
                                        <p class="name">Manga</p>
                                </div>
                                <div class="img">
                                    <img src="https://bachngocsach.com/reader/sites/default/files/anhbia/by40kaf_0.jpg"
                                        alt="">
                                  <p class="name">Manga</p>
                                </div>
      </div>
        </div>

  <div class="footer">
    <p>Footer</p>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.your-class').slick({
                infinite: true,
                slidesToShow: 5,
                dots: true,
                speed: 700,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 769,
                        settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                              }
                    }
                ]
            });
    </script>
</html>