
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    text-align: center;
  }
  
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
    text-align: center;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  .carousel{
    width: 200px;
    margin: auto;
  }
  
  .search1{
    margin: auto;

  }
  .bookstone{
    margin-left: 100px;
  }
  .search2{
    width: 100%;
    margin: auto;
  }
  .search3{
    width: 500px;
    
  }
  .search4{
    padding-left: 7px;
  }
  .buts{
    float: right;
  }
  .search1{
    width: 100%;
    display: flex;
    justify-content: end;
    
  }
.collapse{
  display: flex;
  justify-content: center;
}
a{
  color:white;
  text-decoration: none;
}
.left{
  display: flex;
  justify-content: start;
}
.navbar{
  padding-top: none;
}
.mainc{
  display: inline-flex;
  margin: auto;
}
